html{
    scroll-behavior: smooth;
}
#bodyID {
    background-image: url(background/green.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin : 0;
}
.main-body{
    position: absolute;

    margin-top: 4.27rem;

    z-index: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

header .navbar {
    position: absolute;
    width: 100vw;
    height: 3.15rem;
    background-color: rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    z-index:2;
}

.navbar-items2 a{
    font-size: 1.2rem; 
    text-decoration: none;
    font-family: "ubuntu";
    font-style: normal;

    color: white;
    background-color: black;
    font-weight: 650;

    display: inline-block;
    
    padding-top : 0.922%;
    padding-bottom : 0.922%;
    padding-left: 2%;
    padding-right: 2%;
    
    position: relative;
    top: 0;
    /*left: 32vw;*/
    
}

.navbar a:hover{
    background-color: white;
    color : black;
} 
.navbar ul{
    padding: 0%;
    margin: 0%;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0%;

    display: flex;
    flex-flow : row wrap;
    align-items: center;
    justify-content:center;
}

.navbar li{
    display: inline;
    list-style: none;
}
.navbar #profileButton{
    left: 26rem;
    height: 97%;
    width: 3rem;
    background-color:black;
    color:black;
    border-radius: 50%;
    margin:0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
.navbar #profileButton img{
    height: 100%;
    width: 100%;
    padding: 0;
    
}
.navbar #profileButton:hover{
    background-color: white;
}


/* COURsE BOX */

.box{
    width: 18.226rem;
    min-width: 15rem;
    height: 16rem;
    min-height: 13.168rem;
    margin: 2% 2% 2%;
    border-radius: 6%; 
    background-color: black;
    background-size:18.5rem 13.2rem;
    background-repeat: no-repeat;
    transition: all 0.7s ease-in-out;  
   /* transition-delay: 0.2s; */
}
.box:hover{
    transform : scale(1.25);
    z-index: 5;
}

.box1{
    background-image: url("illustration/1.png");
}
.box2{
    background-image: url("illustration/2.png");
}
.box3{
    background-image: url("illustration/3.jpg");
}
.box4{
    background-image: url("illustration/4.jpg");
}
.box5{
    background-image: url("illustration/5.jpg");
}
.box6{
    background-image: url("illustration/6.png");
}
.box7{
    background-image: url("illustration/7.jpg");
}
.box8{
    background-image: url("illustration/8.jpg");
}
.box9{
    background-image: url("illustration/9.jpg")
}
.box10{
    background-image: url("illustration/10.jpg")
}
.box11{
    background-image: url("illustration/11.png");
}
.box12{
    background-image: url("illustration/12.png");
}
.box13{
    background-image: url("illustration/13.png");
}
.box14{
    background-image: url("illustration/14.png");
}
.box15{
    background-image: url("illustration/15.png");
}



div.box{
    position: relative;
}
div.box #name{
    color: white;
    font-size: 1.35rem;
    font-weight: 550;
    font-family: monospace;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 

}

.resource-link{
    position: absolute;
    width: 100%;
    height: 100%;
}


::-webkit-scrollbar{
    width: 0.4rem;
}

::-webkit-scrollbar-track{
    background: rgba(242, 244, 245, 0.5)
}
::-webkit-scrollbar-thumb{
    background: #2aec44;
    border-radius: 0rem;
}