*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    overflow-x: hidden;
}

#bodyID{
    background-image: url(background/grey3.jpg);
    /* background-color: white; */
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    width: 100vw;
    height: auto;
}
.main-body{
    /* animation: body-load 1s ease-in-out; */

    position: relative;

    /* z-index: 1; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

header .navbar {

    position: relative;
    width: 100vw;
    height: 3.15rem;
    background-color: rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index:2;
}

.navbar-items2 a{
    font-size: 1.2rem; 
    text-decoration: none;
    font-family: "ubuntu";
    font-style: normal;

    color: white;
    background-color: black;
    font-weight: 650;

    display: inline-block;
    
    padding-top : 0.922%;
    padding-bottom : 0.922%;
    padding-left: 2%;
    padding-right: 2%;
    
    position: relative;
    top: 0;
    /*left: 32vw;*/
    
}

.navbar a:hover{
    background-color: white;
    color : black;
} 
.navbar ul{
    position: absolute;
    width: 100vw;
    height: 100%;

    display: flex;
    flex-flow : row wrap;
    align-items: center;
    justify-content:center;
}

.navbar li{
    display: inline;
    list-style: none;
}
.navbar #profileButton{
    /* left: 26rem; */
    
    height: 100%;
    width: 3rem;
    background-color:black;
    color:black;
    border-radius: 50%;
    margin:0;
    padding: 0;
    transition: all 0.5s ease-in-out;
}
.navbar #profileButton img{
    height: 100%;
    width: 100%;
    padding: 0;
    
}
.navbar #profileButton:hover{
    background-color: white;
}


/*  SEARCH BAR */

#searchBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    position: relative;
    height: 5rem;
    width: 100vw;
}

#searchBar input{
    box-sizing: border-box;
    height: 3rem;
    width: 70vw;

    padding: 0.07rem 0.7rem 0.07rem 1.2rem;
    border-right: 0;
    font-size : 1rem;
    font-family: 'Poppins';
    
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;
}

#searchBar #searchButton{
    height: 3rem;
    width: 8vw;
    border: 0.1rem solid black;
    font-weight: 500;
    color : white;
    background-color : rgb(0, 0, 0);
    margin:0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Category Dropdown */
.category {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    width: 5rem;
    height: 2rem;

    background-color: black;
    position: relative;
    top: 0.5rem;
    margin-right: 0.5rem;
}
.category a{
    color:white;
    text-decoration: none;
    font-family: 'Poppins';
}
#searchBar .active{
    background-color: tomato;
}
#searchBar .active a{
    /* color:rgb(0, 0, 0); */
    color: white;
}

 #resultCount{
    /* box-sizing: border-box; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 4rem;
    font-family: 'Poppins';
    background-color : rgb(208, 237, 252);

    padding: 1rem 1rem 1rem 3rem;
}

/* COURsE BOX */

.box{
    animation: box-load 500ms ease-in-out;
    /* width: 18.226rem; */
    /* width: 15rem; */
    min-width: 15rem;
    /* height: 16rem; */
    height: 10rem;
    /* min-height: 13.168rem; */
    margin: 1% 1% 1%;
    border-radius: 6%; 
    border-width: 0.1rem;
    border-color: black;    
    border-style: solid;

    background-color: black;
    /* background-size:18.5rem 13.2rem; */
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;  
   /* transition-delay: 0.2s; */
}
.box:hover{
    transform : scale(1.09);
    z-index: 5;
}

.box1{
    background-image: url("illustration/1.png");
}
.box2{
    background-image: url("illustration/2.png");
}
.box3{
    background-image: url("illustration/3.jpg");
}
.box4{
    background-image: url("illustration/4.jpg");
}
.box5{
    background-image: url("illustration/5.jpg");
}
.box6{
    background-image: url("illustration/6.png");
}
.box7{
    background-image: url("illustration/7.jpg");
}
.box8{
    background-image: url("illustration/8.jpg");
}
.box9{
    background-image: url("illustration/9.jpg")
}
.box10{
    background-image: url("illustration/10.jpg")
}
.box11{
    background-image: url("illustration/11.png");
}
.box12{
    background-image: url("illustration/12.png");
}
.box13{
    background-image: url("illustration/13.png");
}
.box14{
    background-image: url("illustration/14.png");
}
.box15{
    background-image: url("illustration/15.png");
}



div.box{
    position: relative;
}
div.box #name{
    color: white;
    font-size: 1.35rem;
    font-weight: 550;
    font-family: monospace;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 

}
.box #name {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 2rem;
    width: 100%;
    background-color: black;
}
.box #name p{
    font-family: Poppins;
    font-weight: lighter;
    font-size: smaller;
}
.resource-link{
    position: absolute;
    width: 100%;
    height: 100%;
}


::-webkit-scrollbar{
    width: 0.4rem;
}

::-webkit-scrollbar-track{
    background: rgba(242, 244, 245, 0.5)
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 0rem;
}


@keyframes box-load {
    0%{
        transform: rotate(0);
    }
    100%{
        transform : rotate(360deg);
    }
}