#bodyID {
    background-image: url(D:/IWT/background/forest2.png);
    background-attachment: fixed;
    background-size: cover;
}


header .navbar {
    display: block;
    width: 100vw;
    height: 7vh;
    margin-top: -1.1vh;
    margin-left: -9px;
    background-color: rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    z-index:2;
}
.navbar a{
    font-size: 1.2vw; ;/*1.7vw; */
    text-decoration: none;
    font-family: "ubuntu";
    font-style: normal;
    font-weight: 650;
    padding-top : 1%;
    padding-bottom : 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: black;
    position: relative;
    top : 30%;
    left: 33%;
    
}

.navbar a:hover{
    background-color: white;
    color : black;
} 
.navbar ul{
    padding: 0%;
    margin: 0%;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0%
}

.navbar li{
    display: inline;
    text-align: justify;
    list-style: none;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.header-strip{
    display: block;
    position: absolute;
    width: 100%;
    height: 17vh;
    margin-left : -0.5vw;
    background-image: url('background/blue.png');
    background-size: cover;
    top: 7% ;
}

/* PROFILE HEADER */
.profile-name{
    font-size: 6vw;
    font-weight: 200;
    font-family: 'Stencil Std', fantasy;
    position: absolute;
    top: 1%;
    left : 5%;
}

/* COURE BOX */

.main-body{
    position: absolute;
    width: 100%;
    padding: 0;
    height: 100vh;
    top: 25vh;
    margin-left: -8px; 
}
.course{
    width: 20vw;
    height: 35vh;
    margin: 2% 2% 2%;
    background-color: rgb(97, 192, 247);
    border-radius: 5%;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    transition: all 1s ease ;
}

.course1:hover{
    transform: translateY(-50px) rotate(20deg);
    transition: all 0.5s ease ;
}
.course2:hover{
    transform: rotate(180deg);
}

.course3:hover{
    transform: translate(400px, 400px);
}
.course4:hover{
    transform: skew(-20deg);    
}
.course5{
    transition: all 1s ease ;
    transform-origin: right top;
}
.course5:hover{
    transform: rotate(-55deg);
}
/*
.course5{
    background-image: url(course-photo/html.png);
}
.course6{
    background-image: url(course-photo/java.jpg);
}
.course7{
    background-image: url(course-photo/java.jpg);
}
.course8{
    background-image: url(course-photo/java.jpg);
}
.course9{
    background-image: url(course-photo/java.jpg);
}
*/

#course-name{
    position: absolute;
    font-weight: 600;
    font-size: 2vw;
    color: white;
    top: 88%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

::-webkit-scrollbar{
    width: 0.5vw;
}

::-webkit-scrollbar-track{
    background: rgba(1, 46, 77, 0.5)
}
::-webkit-scrollbar-thumb{
    background: #2a92ec;
    border-radius: 5px;
}