* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;


}

a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-family: "ubuntu";
    font-size: normal;
  }
body {
    display: flex;
    flex-flow : column wrap;
    box-sizing: border-box;

    width: 100vw;
    height: auto;
    overflow-x: hidden;

    /* background-image: url(./background/lightblue4.jpg); */
  background-image: url(background/blue3.jpg);

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar {
    box-sizing: border-box;

    display: flex;
    flex-flow : row nowrap;
    justify-content: space-between;
  
    position: fixed ;
  
    height: 3.5rem;
  
    width: 100vw;
    min-width: 100%; 
    padding: 0rem 2rem 0rem 0rem;
  
    background-color: black;

    z-index: 10;
  }
  .navbar .extra{
    /* position: absolute; */
    box-sizing: border-box;

    height: 100%;
    min-width: none;
    width: 2rem;
  }
  .navbar .navbar-items2 ul{

    box-sizing: border-box;

    display: flex;
    flex-flow : row nowrap;
    justify-content: center;
    align-content :center;
  
    /* position: absolute; */
  
    height: 100%;
    min-width: 80%;
  
    width: 100%;
  
    font-size: 1.1rem;
    font-weight: 700;
  }
  .navbar .navbar-items2 ul a{
    box-sizing: border-box;

    padding: 1.1rem;
  
    width: 8rem;
  
    text-align: center;
  }
  .navbar .navbar-items2 ul a:hover{
    box-sizing: border-box;

    background-color: white;
    color: black;
  }
  .navbar .pp {
    box-sizing: border-box;

    position: relative; 
    height: 95%; 
    width : 3.5rem;
  
    padding: 0.3rem;
  
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: white; */
  }
  .navbar .pppp{
    box-sizing: border-box;

    height: 100%; 
    width : 100%;
  }
  .navbar .pp img{
    box-sizing: border-box;

    position: absolute;
    height: 90%; 
    width : 3.1rem;
  
    background-color: black;
    
    border-radius: 50%;
  
    transition: all 0.5s ease-in-out;
  }
  .navbar .pp img:hover{
    background-color: white;
  
  }
  
#main-body {
    display: flex;
    flex-flow: column wrap;
}

#main-body #searchBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    background-color: transparent;
    height: 5rem;
    width: 100vw;

    margin: 4rem 0 0 0;
}

#searchBar input{
    box-sizing: border-box;
    height: 3rem;
    width: 70vw;

    padding: 0.07rem 0.7rem 0.07rem 1.2rem;
    border-right: 0;
    font-size : 1rem;
    font-family: 'Poppins';
    
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    outline: none;

    

}

#searchBar #searchButton{
    height: 3rem;
    width: 8vw;
    border: 0.1rem solid black;
    font-weight: 500;
    color : white;
    background-color : rgb(0, 0, 0);

    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Category Dropdown */
.category {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    width: 5rem;
    height: 2rem;

    background-color: black;
    position: relative;
    top: 0.5rem;
    margin-right: 0.5rem;
}
.category a{
    color:white;
    text-decoration: none;
    font-family: 'Poppins';
}
#searchBar .active{
    background-color: tomato;
}
#searchBar .active a{
    /* color:rgb(0, 0, 0); */
    color: white;
}


#main-body #courseSection{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    /* align-content: flex-end; */

    width: 100vw;
    height: auto;
    background-color: transparent;

    padding: 2rem 0 2rem 0;    
}

#main-body #resultCount{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 4rem;
    font-family: 'Poppins';
    background-color : rgb(208, 237, 252);

    padding: 0rem 2rem 0rem 3rem;
}

#name-count {
    display: flex;
    flex-flow : column wrap;

}
#name-count #result-count{
    font-size: 0.8rem;
}

#next-page{


    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
#next-page p{
    box-sizing:content-box;   

    display: flex;
    flex-flow: column nowrap;  
    align-content: center;
    justify-content: center;
    text-align: center;

    height: 2.5rem;
    width: 2.5rem;

    margin: 0.5rem;


    background-color: white;
    color:black;
}

#next-page p:hover{
    background-color: rgb(241, 241, 241);
}
#courseSection #filter-section{
    /* display: flex;
    flex-flow: row wrap; */
    /* justify-self: flex-start; */


    height: max-content;
    width: 15rem;

    /* background-color: rgb(217, 234, 250); */
    background-color: white;
    border-radius: 0.5rem;

    line-height: 1.5rem;

    color: black;
    position: relative;
    /* top: 5rem; */
    padding: 1rem 0rem 1rem 2rem;
    margin: 0 0 2rem 0;
    font-family:'Source Sans Pro', sans-serif;

}
#filter-section ul{
    /* display: flex;
    flex-flow: column wrap;
    justify-self: flex-start; */
    line-height: 1.5rem;

    position: relative;
    left: 1rem;

    text-decoration: none;
    list-style: none;
}

#courseSection #courseResult{
    display: flex;
    flex-flow: row wrap;


    justify-content: center;
    align-content: center;

    width: 80vw;
    height: auto;

    padding: 0rem 0.9rem 0rem 0rem;

    /* background-color: rgb(246, 246, 248); */
    background-color :transparent;
}


#courseResult .result{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;

    width: 100%;
    height: 9rem;
    background-color: white;
    border-bottom : 0.1rem grey solid;
    /* padding : top bottom right left; tbrl */ 
    padding : 0rem 1rem 0rem 3rem;  

    border-radius: 0.5rem;

    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
}

#courseResult .result:hover{
    box-shadow: 2px 2px 3px grey;
    transform: scale(1.001);
}
#courseResult .result a{
    width: fit-content;
    text-decoration: none;
    color : black;
}
#courseResult .published-updated{
    font-family: Ubuntu;
    font-size: 0.9rem;
    font-weight: 100;
    color: rgb(151, 149, 149);
}

#courseResult .tags {
    display: flex;
    flex-flow: row wrap;

    width: 80%;
}

#courseResult .tags p{
    margin: 0.2rem;
    padding: 0 0.2rem 0 0.2rem;

    border-radius: 0.3rem;

    font-size : 0.9rem;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
    font-weight: 500;

    background-color: rgb(213, 227, 247);
    color:rgb(66, 66, 66);
}


#courseResult .rating{
    text-align: end;
    font-size: 1rem;
    font-weight: 300;
    color : rgb(80, 167, 238);    
}

#courseResult .author{
    font-size: 1rem;
    font-weight: 300;
    font-size: smaller;
    color : grey;
    /* text-align: end; */
}   


::-webkit-scrollbar{
    width: 0.4rem;
}

::-webkit-scrollbar-track{
    background: rgba(242, 244, 245, 0.5)
}
::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 0rem;
}

