#bodyID {
    background-image: url(./background/forest2.png);
    background-attachment: fixed;
    background-size: 80vw;
}
.main-body{
    position: absolute;
    top: 6.5%;
    padding: 2.5%;
    width: 93vw;
   /* left: 2.56%; 
    margin-left: -8px; */
    z-index: 1;
}


/*
.navbar-class{
    position: absolute;
    width: 100vw;
    height: 8.5vh;
    background-color: rgba(0,0,0,0.9);
    margin-top: -1.1vh;
    margin-left: -0.5vw;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    z-index:2;
}

.navbar-class ul{
    list-style: none;
    align-items: center;
    
}

.navbar-class li{
    display: inline-block;
}
.navbar-class a{
    position: relative;
    text-decoration: none;
    color: white;
    line-height: 5vh;
    font-size: 4vh;
    font-weight: 800;
    font-family:monospace;
    margin: 2vw;
    left: 23vw;
}
.navbar-class:hover{
    background-color: rgb(27, 88, 201);
}
.navbar-class a:hover{
    color: black;
} */

.navbar-class {
    width: 100vw;
    height: 8.5vh;
    margin-top: -1.1vh;
    margin-left: -9px;
    background-color: rgba(0, 0, 0, 1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    z-index:2;
}
.navbar-class a{
    font-size: 160%; ;/*1.7vw; */
    text-decoration: none;
    font-family:"Arial Black", sans-serif;
    font-weight: 500;
    margin:2%;
    color: white;
    position: relative;
    height: 100%;
    top: 23%;
    left: 29%;

}
.navbar-class a:hover{
    color: black;

}
.navbar-class ul{
    padding: 0%;
    margin: 0%;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0%
}
.navbar-class li{
    display: inline;
    text-align: justify;
    list-style: none;
    position: relative;
}
.navbar-class:hover{
    background-color: rgb(99, 157, 243);
}

.header-strip{
    width: 100vw;
    height: 17vh;
    margin-top: -1.1vh;
    margin-left : -0.5vw;
    background-image: url('background/blue.png');
    position: absolute;
    top: 8.5vh;
    z-index: 1;
}
/* PROFILE HEADER */
.profile-name{
    width: 99.8vw;
    height: 32%;
    font-size: 6vw;
    font-weight: 200;
    font-family: 'Stencil Std', fantasy;
    position: absolute;
    top: 1%;
    left : 5%;

}

/* COURE BOX */
.main-body{
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 25vh;
}
.course{
    width: 20vw;
    height: 35vh;
    margin: 2% 2% 2%;
    background-color: rgb(97, 192, 247);
    border-radius: 5%;
    display: inline-block;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    transition: all 1s ease ;
}

.course1:hover{
    transform: translateY(-50px) rotate(20deg);
    transition: all 0.5s ease ;
}
.course2:hover{
    transform: rotate(180deg);
}

.course3:hover{
    transform: translate(400px, 400px);
}
.course4:hover{
    transform: skew(-20deg);    
}
.course5{
    transition: all 1s ease ;
    transform-origin: right top;
}
.course5:hover{
    transform: rotate(-55deg);
}
/*
.course5{
    background-image: url(course-photo/html.png);
}
.course6{
    background-image: url(course-photo/java.jpg);
}
.course7{
    background-image: url(course-photo/java.jpg);
}
.course8{
    background-image: url(course-photo/java.jpg);
}
.course9{
    background-image: url(course-photo/java.jpg);
}
*/

#course-name{
    position: absolute;
    font-weight: 600;
    font-size: 2vw;
    color: white;
    top: 88%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

